<div class="modal-header">
    <h5>{{documentInfo.document.title}}</h5>
</div>
<div class="modal-body">
    <div class="abstract">
        <div ng-if="documentInfo.document.abstractText">{{documentInfo.document.abstractText}}</div>
        <div ng-if="!documentInfo.document.abstractText">Abstract not available</div>
    </div>
    <p></p>
    <hr/>
    <div class="document-topic">
    <span class="topic-label" ng-repeat="topic in documentInfo.topic"
          ng-style="topicStrengthStyle(documentInfo.topic,topic)">
        {{topic.word}}
    </span>
    </div>
    <br/>
    <a class="btn blue" ng-href="{{getDocumentUrl()}}" target="_blank">Paper Link</a>
</div>