.word {
    padding: 2px 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.document-title {
    font-size: 14px;
    font-weight: bold;
}

.word-container {
    margin: 10px;
}

.topic {
    border-radius: 5px;
    padding: 10px;
    border: solid #8c8c8c;
    margin-bottom: 1px;
}

treecontrol.tree-light li .tree-selected {
    font-weight: normal;
}

.query-container {
    margin-top: 10px;
}

.topic-li {
    position: relative;
    margin: 0.5rem .2rem .2rem .2rem;
    background-color: #fff;
}

.dependent-topic-count {
    min-width: 3rem;
    padding: 0 6px;
    text-align: center;
    line-height: inherit;
    position: absolute;
    right: -5px;
    top: -5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #26a69a;
    border-radius: 2px;
}

[type="checkbox"] + label {
    font-weight: normal;
    line-height: normal;
    font-size: .85rem;
}

.document {
    padding-bottom: 5px;
    position: relative;
}

.topic-container {
    margin-top: -20px;
    margin-left: 20px;
    color: black;
}

#query_button {
    margin-top: 25px;
}

.modal {
    top: 15%;
    max-height: 100%;
    width: 100%;
    background-color: transparent;
}

.modal-header {
    background-color: #039be5;
    border-radius: 5px;
    color: white;
}

.document-separator {
    margin-bottom: 0;
    margin-top: 30px;
}

.caret {
    border-top: 4px;
}

.document-order-data {
    left: 0;
    bottom: 10px;
    position: absolute;
    min-width: 3rem;
    padding: 2px 6px;
    text-align: center;
    line-height: inherit;
    font-weight: 300;
    font-size: 0.9rem;
    color: #fff;
    background-color: #26a69a;
    border-radius: 2px;
}

.highlight {
    color: #26a69a
}

.search-term-container {
    margin-top: 10px;
}

.search-term {
    margin-top: 2px;
    margin-left: 4px;
}

.modal-backdrop {
    background: lightgrey;
}

.fade.modal-backdrop.in {
    opacity: 1;
    background: lightgrey;
}

.rating-container {
    margin-top: 6px;
    background: #fff;
    border: 1px solid #898f9c;
    border-radius: 8px;
    outline: none;
    overflow: hidden;
    padding: 0 1px 0 0;
    width: 120px;
}

.rating {
    background: #dcdee3;
    border: 1px solid #fff;
    border-right: 0;
    box-sizing: border-box;
    float: left;
    height: 11px;
    outline: none;
    width: 10%;
}

.rating:first-child {
    border-radius: 8px 0 0 8px;
}

.rating:last-child {
    border-radius: 0 8px 8px 0;
}

.rating.rating-filled {
    background: #848487;
}

.document-author {
    color: #006621
}

.modal {
    top: 0;
}

.abstract {
    overflow: scroll;
    max-height: 300px;
    padding: 5px;
}

.abstract-action {
    color: #039be5;
    cursor: pointer;
}

.pagination li {
    padding: 0
}

.pagination li.active {
    background-color: #26a69a;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #26a69a;
    border-color: #26a69a;
}

.topic-label {
    margin-right: 5px;
}

.hide-button {
    margin-right: 10px;
    margin-top: 10px;
}

.float-button {
    position: fixed;
    left: 10px;
    top: 50%;
    margin-left: -10px;
}
