.word {
    padding: 2px 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.document-title {
    font-size: 14px;
    font-weight: bold;
}

.tolerance {
    margin-top: 10px;
}

.tolerance-input {
    width: 50px;
}

.word-container {
    margin: 10px;
}

.topic {
    border-radius: 5px;
    padding: 10px;
    border: solid #8c8c8c;
    margin-bottom: 1px;
}

treecontrol.tree-light li .tree-selected {
    font-weight: normal;
}

.query-container {
    margin-top: 10px;
}

.topic-li {
    position: relative;
    margin: 0.5rem .2rem 1rem .2rem;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 15px;
}

.dependent-topic-count {
    min-width: 3rem;
    padding: 0 6px;
    text-align: center;
    line-height: inherit;
    position: absolute;
    right: -5px;
    top: -5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #26a69a;
    border-radius: 2px;
}

[type="checkbox"] + label {
    font-weight: normal;
    line-height: normal;
    font-size: 1rem;
}

.document {
    padding-bottom:5px;
}