.word {
    padding: 2px 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.document-title {
    font-size: 14px;
    font-weight: bold;
}

.tolerance {
    margin-top: 10px;
}

.tolerance-input {
    width: 50px;
}

.word-container {
    margin:10px;
}

.topic {
    border: solid;
    border-radius: 5px;
    padding: 10px;
    border-color: #8c8c8c;
    margin-bottom:1px;
}