<div ng-mouseenter="hover=true" ng-mouseleave="hover=false">
        <span class="document-title">
            <a ng-click="showAbstract()" href="#">
                {{documentInfo.document.title}}
            </a>
        </span>
    <br/>
    <span class="document-author">{{documentInfo.document.author}}</span>


    <div ng-if="getSummary(documentInfo.document)">
        {{getSummary(documentInfo.document)}} ... <a href="#" ng-click="showAbstract()">more</a>
    </div>
    <div class="rating-container" title="{{order.name}} : {{documentInfo.document[order.field]}}">
        <div ng-repeat="bar in ratingBars" class="rating" ng-class="{'rating-filled':bar.filled }"></div>
    </div>

    <hr class="document-separator"/>
</div>
