<div class="container-fluid document-container">
    <div class="row">
        <div class="col-md-12"><span class="document-title">
            <a ng-click="showAbstract()" href="#">
                {{documentInfo.document.title}}
            </a>
        </span>
            <br/>
            <span class="document-author">{{documentInfo.document.author}} ({{documentInfo.document.year}})</span>


            <div ng-if="abstract">
                {{abstract}}
                <span class="abstract-action" ng-if="!showMore" ng-click="setSummary(true)">... more</span>
                <span class="abstract-action" ng-if="showMore" ng-click="setSummary(false)">less</span>
            </div>
        </div>
    </div>
</div>
