<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<div ng-controller="ReadingListCtrl" class="container">
    <h1>Matched Topic</h1>
    <div class="topic container">
        <div class="row">
            <ul ng-repeat="document in matchedTopic['documents'] ">
                <document info="document"></document>
            </ul>
        </div>
        <div class="word-container row pull-right">
            <span class="word btn btn-primary">
                <span ng-click="changeFilterTag('All')">All</span>
            </span>
            <button ng-repeat="word in matchedTopic['words'] | limitTo: numTags" class="word btn btn-default"
                    ng-class="{'btn-success':word.word == filterTag}"
                    ng-click=" changeFilterTag(word.word)">
                {{word.word}}
            </button>
            <div class="tolerance">
                Filter Tolerance:
                <input class="tolerance-input" type="text" ng-model="filterTolerance"/>
            </div>
        </div>

    </div>

    <h1>Dependent Topics</h1>
    <div>
        <h4>Filtering by: {{filterTag}}</h4>
    </div>
    <div ng-repeat="dependentTopic in dependentTopics | filter:filterBySelectedTag">
        <div class="topic container">
            <div class="row">
                <ul ng-repeat="document in dependentTopic['documents']">
                    <document info="document"></document>
                </ul>
            </div>
            <div class="word-container row pull-right">
                <span ng-repeat="word in dependentTopic['words'] | limitTo: filterTolerance"
                      class="word btn btn-default"
                      ng-class="{'btn-success':word.word == filterTag}">
                    {{word.word}}
                </span>
            </div>
        </div>
    </div>

</div>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="app.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
