<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta arset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-tree-control/css/tree-control.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-tree-control/css/tree-control-attribute.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angucomplete-alt/angucomplete-alt.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="bower_components/materialize/dist/css/materialize.css"
          media="screen,projection"/>


    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<div ng-controller="ReadingListCtrl" class="container-fluid">
    <div class="row query-container">
        <div class="form-group">
            <div class="input-field col s4 offset-l2">
                <angucomplete-alt id="query"
                                  pause="100"
                                  selected-object="selectedTerm"
                                  local-data="topicTerms"
                                  search-fields="term"
                                  title-field="term"
                                  minlength="3"
                                  match-class="highlight"
                                  clear-selected="true"
                                  input-class="form-control input-lg center-align"></angucomplete-alt>
                <label for="query">Query</label>

                <div class="search-term-container container-fluid">
                    <span ng-repeat="term in selectedTerms" ng-click="removeTerm(term)" class="chip">
                            {{term}}
                            <i class="material-icons">close</i>

                    </span>
                </div>
            </div>
            <div class="input-group col-md-5">
                <div class="input-field col s3">
                    <input placeholder="3" ng-init="topics=3" ng-model="topics" id="topics" type="number"
                           class="validate">
                    <label for="topics">Topics</label>
                </div>
                <div class="input-field col s3">
                    <input placeholder="3" ng-init="documents=3" ng-model="documents" id="documents" type="number"
                           class="validate">
                    <label for="documents">Documents</label>
                </div>

                <button class="btn btn-info btn-lg" id="query_button" type="button" ng-click="fetchResult()">
                    <i class="material-icons">search</i>
                </button>

            </div>
        </div>
    </div>
    <hr/>
    <h4 class="center-align">Result for : <span class="text-info">{{keyword}}</span></h4>
    <div class="col-md-6">
        <h5>Topics <span class="chip">{{selectedTopics.length}} / {{allTopicsLength}}</span></h5>
        <div class="switch">
            <label>
                De-select All
                <input type="checkbox" ng-model="isSelectAll">
                <span class="lever"></span>
                Select All
            </label>
        </div>
        <treecontrol class="tree-light"
                     tree-model="matchedTopics"
                     options="treeOptions"
                     expanded-nodes="expandedNodes">
            <topic data="node" selected="selectedTopics" onselection="topicSelected" nodecounter="countNodes"></topic>

        </treecontrol>


    </div>
    <div class="col-md-6">
        <h5>Documents <span class="chip"> {{filteredDocuments.length}}</span></h5>
        <div class="row">
            <div class="input-field col s6">
                <select id="documentOrder" name="documentOrder" material-select ng-model="selectedOrder">
                    <option ng-repeat="option in documentOrderOptions" value="{{option.field}}">{{option.name}}</option>
                </select>
                <label>Sort documents by </label>
            </div>
        </div>
        <div ng-if="filteredDocuments.length == 0" class="text-info">
            Try selecting some topics to display documents
        </div>

        <div ng-show="filteredDocuments.length" class="card card-panel">
            <ol>
                <li class="document"
                    ng-repeat="document in filteredDocuments | orderBy: ['-'+'document.'+selectedOrder]">
                    <document info="document" order="selectedOrderOption"
                              stats="stats"></document>
                </li>
            </ol>
        </div>
    </div>

</div>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.js"></script>
-->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/materialize/dist/js/materialize.js"></script>
<script src="bower_components/ramda/dist/ramda.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-tree-control/angular-tree-control.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-materialize/src/angular-materialize.js"></script>
<script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
<script src="app.js"></script>
<script src="topic-controller.js"></script>
<script src="document-controller.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
